.planner-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.7rem 0;
  padding: 14px;
  background-color: #292930;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.is-selected {
  background-color: #5e157e;
}

.planner-entry:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.planner-entry-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.planner-entry-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.planner-entry-date {
  font-size: 0.9rem;
  color: #b6b6b6;
}

.planner-entry-subtitle {
  font-size: 1rem;
  font-style: italic;
  margin-bottom: 0;
}
